@model VeterinaryClinic.Web.ViewModels.Appointments.AppointmentInProgressViewModel
@{
    ViewData["Title"] = "Start";
}

@if (this.TempData["AppointmentProgress"] != null)
{
    <div class="alert alert-danger" role="alert">
        @this.TempData["AppointmentProgress"]
    </div>
}

@if (Model == null)
{
    <div class="container">
        <br />
        <h3><b>You are not currently in an appointment.</b></h3>
        <br />
    </div>
}
else
{
    @if (TempData["SuccessfulDiagnose"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessfulDiagnose"]
        </div>
    }
    <br />
    <div class="container">
        <h3>
            <b>
                You are currently in an appointment with @Model.OwnerFullName and pet
                <a asp-area="Owner" asp-controller="Pet" asp-action="Details" asp-route-id="@Model.PetId">
                    @Model.PetName
                </a>
            </b>
        </h3>
        <h4>Subject: @Model.Subject</h4>
        <br />
        @if (Model.PetPetsMedications.Count > 0)
        {
            <h3>Medications:</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Number of doses per serving</th>
                        <th scope="col">Stop</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var med in Model.PetPetsMedications)
                    {
                        <tr>
                            <td>@med.MedicationName</td>
                            <td>@med.MedicationNumberOfDosesPerServing</td>
                            <td><a class="btn btn-danger" asp-area="Vet" asp-controller="Appointments" asp-action="Stop" asp-route-id="@med.Id">Stop</a></td>
                        </tr>
                    }


                </tbody>
            </table>

        }
        else
        {
            <h3>Medications: none</h3>
        }
        <hr />
        <br />
        <div><h6>Click the button to be able to write diagnose to the pet.</h6> <button type="button" class="btn btn-primary" onclick="showAddDiagnoseForm()"><i class="fa fa-hand-holding-medical"></i>&nbsp; Diagnose</button> </div>

        <div class="clearfix"></div>
        <br />
        <br />

        <h6>Click the button to be able to prescribe medication to the pet.</h6>
        <a class="btn btn-primary" asp-area="Vet" asp-controller="Appointments" asp-action="Medication" asp-route-id="@Model.PetId">Medication</a>

        <div class="clearfix"></div>
        <br />

        <div>
            <form asp-area="Vet" asp-controller="Appointments" asp-action="Diagnose" method="post" id="AddDiagnoseForm" style="display: none">
                <input type="hidden" asp-for="@Model.PetId" value="@Model.PetId" />
                <input type="hidden" asp-for="@Model.VetId" value="@Model.VetId" />
                <h4>Write Diagnosis</h4>
                <div class="col-md-6">
                    <label asp-for="@Model.PetDiagnoseName"></label>
                    <input asp-for="@Model.PetDiagnoseName" class="form-control" />
                    <span asp-validation-for="@Model.PetDiagnoseName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.PetDiagnoseDescription"></label>
                    <textarea asp-for="@Model.PetDiagnoseDescription" class="form-control"></textarea>
                    <span asp-validation-for="@Model.PetDiagnoseDescription" class="text-danger"></span>
                </div>
                <div>
                    <br />
                    <input type="submit" class="btn btn-primary" value="Diagnose" />
                </div>
                <br />
            </form>
        </div>

        <hr />

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-danger btn-lg float-right" data-toggle="modal" data-target="#End">End</button>
        <div class="clearfix"></div>

        <!-- Modal -->
        <div id="End" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fa fa-exclamation-triangle fa-3x"></i>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are You sure You want to end this appointment?</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" asp-area="Vet" asp-controller="Appointments" asp-action="End" asp-route-id="@Model.Id">Yes</a>
                        <a class="btn btn-danger" data-dismiss="modal" style="color:white">No</a>
                    </div>
                </div>

            </div>
        </div>
        <br />
    </div>

    <br />
}

@section Scripts{
    <script>
        function showAddDiagnoseForm() {
            $("#AddDiagnoseForm").toggle();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddDiagnoseForm").offset().top
            }, 1000);
        }
    </script>

    <script>
        function showAddMedicationForm() {
            $("#AddMedicationForm").toggle();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddMedicationForm").offset().top
            }, 1000);
        }
    </script>

    <script>
        var medicationIndex = 0;
        function AddMedication() {
            $("#MedicationsContainer").

                //append("<div class='form-control'>Name: <input type='text' name='PetsMedication[" + medicationIndex + "].MedicationName' /> Quantity: <input type='text' name='PetsMedication[" + ingredientIndex + "].MedicationNumberOfDosesPerServing' /></div>");
                medicationIndex++;
        }
    </script>
}



